.footer {
    background-color: var(--clr-primary-2);
    border-block-start: 1px solid var(--clr-neutral-2);
    color: rgb(255, 255, 255, 0.5);
    font-weight: var(--fw-regular);
    padding-block: 1.5em;
    text-align: center;
}
