body {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100svh;
    color: var(--clr-neutral-1);
    font-weight: var(--fw-light);
    background: linear-gradient(to right, #0062e6, #33aeff);
}
