.title {
    font-weight: var(--fw-light);
    font-size: 2.5rem;
    margin-block-end: 1.5rem;

    strong {
        font-weight: var(--fw-regular);
    }
}

.lead {
    font-size: 1.2rem;
    color: rgb(255, 255, 255, 0.5)
}
