{% extends 'base.html.twig' %}

{% block title %}Coming Soon{% endblock %}

{% block body %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">robmeijer.dev</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#">Home</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">Coming Soon</h1>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Copyright &copy; 2019-2020 Rob Meijer</p>
            </div>
        </footer>
    </div>
{% endblock %}
