{% extends 'base.html.twig' %}

{% block title 'Coming Soon' %}

{% block body %}
    <main class="main">
        <h1 class="title"><strong>robmeijer</strong>.dev</h1>
        <p class="lead">Coming soon ...</p>
    </main>
    <footer class="footer">
        <small>Copyright &copy; 2019-{{ 'now'|date('Y') }} Rob Meijer</small>
    </footer>
{% endblock %}
